---
import { query } from '../api/warcraftlogs/reports';
import { client } from '../api/warcraftlogs/graphql';
import { getToken } from '../api/warcraftlogs/auth';
import Footer from '../components/Footer';
import Avatar from '../components/Avatar';
import Reports from '../components/Reports';
import Externals from '../components/Externals';
import Layout from '../layouts/Layout.astro';

const token = await getToken();

const api = client(token.access_token);

const data = await api.query<any>(query);

---
<Layout title="Dwarf Invasion">
	<main class="container max-w-2xl m-auto min-h-screen">
        <div class="flex flex-col gap-2 w-full justify-center items-center">
            <Avatar style="h-32 w-32" src="/dwarf-icon.webp" />
            <div class="flex gap-2 justify-center items-center">
                <img src="/alliance.png" alt="alliance" class="h-10" />
		        <h1 class="font-bold m-auto text-2xl text text-center">Dwarf Invasion</h1>
            </div>
            <p> <span class="text-alliance-base"> Alliance</span>, Zul'Jin, US </p>
        </div>
        <Externals />

        <div class="flex w-full items-center mt-10 justify-center text-center">
            <p> Roster and more to come! </p>
        </div>

        <Reports reports={data.data.reportData.reports.data}/>
	</main>

    <Footer />
</Layout>
