---
export interface Props {
	title: string;
}

import '../styles/app.css';
const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
      <meta name="description" content="Dwarf Invasion Guild website">
  <meta name="keywords" content="Alliance, Raiding, M+, Mythic+, Blizzard, World of Warcraft, Wow">
  <meta name="author" content="Louis-Philippe Turmel">

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Skranji&display=swap" rel="stylesheet">
	<title>{title}</title>
</head>
<body class="bg-gray-800">
	<slot />
</body>
</html>
